* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#005f73, #0a9396);
  overflow: hidden;
}
